<div class="container mt-4">
  <div class="flex justify-center">
    <div class="w-96">
      <div class="bg-gray-500 shadow-sm shadow-black rounded-lg">
        <div class="px-6 py-4">
          <h4 class="text-center text-xl text-white font-bold">Signup</h4>
        </div>
        <div class="pt-2">
          <button class="btn btn-primary btn-block text-gray-700 text-sm font-bold mb-2 w-50 m-auto flex items-center">
            <i class="fab fa-facebook-f mr-2 text-yellow-500 font-bold"></i>
            Connect with Facebook
          </button>
        </div>
        <div class="text-center mt-3">
          <hr class="hr-text" data-content="OR">
        </div>
        <div class="card-body py-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <div class="mb-4">
              <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Your Name:</label>
              <input type="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username" id="name" required [(ngModel)]="patient.fullname" placeholder="Enter your name">
            </div>
            <div class="mb-4">
              <label for="mobile" class="block text-gray-700 text-sm font-bold mb-2">Mobile Number:</label>
              <input type="tel"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="mobile" required [(ngModel)]="patient.mobile" placeholder="Enter your mobile number">
            </div>
            <div class="mb-4">
              <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email Address:</label>
              <input type="email"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email" required [(ngModel)]="patient.email" placeholder="Enter your email address">
            </div>
            <div class="mb-4">
              <label for="gender" class="block text-gray-700 text-sm font-bold mb-2">Gender:</label>
              <div class="relative">
                <select
                  class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="gender" required [(ngModel)]="patient.gender">
                  <option selected disabled>Select gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label for="birthdate" class="block text-gray-700 text-sm font-bold mb-2">Birth Date:</label>
              <input type="date"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="birthdate" required [(ngModel)]="patient.BirthDate">
            </div>
            <div class="mb-4">
              <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
              <input type="password"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="password" required [(ngModel)]="patient.Password" placeholder="Enter your password">
            </div>
            <div class="mb-4">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="terms">
                <label class="form-check-label" for="terms">By signing up, you agree to our terms of use</label>
              </div>
            </div>
            <button (click)="addNewPatient()"
              class="text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Join Now</button>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <p class="text-center">Already registered in Vezeeta? <a routerLink="/login"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline hover:cursor-pointer">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>