<!-- <div class="card">
  <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 1">
  <div class="card-body">
    <h5 class="card-title">Skin Specialist</h5>
  </div>
</div> -->
<!-- <div class="carousel-item active">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 1">
    <div class="card-body">
      <h5 class="card-title">Skin Specialist</h5>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 2">
    <div class="card-body">
      <h5 class="card-title">Teeth Specialist</h5>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 3">
    <div class="card-body">
      <h5 class="card-title">Child Specialist</h5>
    </div>
  </div>
</div> -->
<div class="col-md-3">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 1">
    <div class="card-body">
      <h5 class="card-title">Skin Specialist</h5>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 2">
    <div class="card-body">
      <h5 class="card-title">Teeth Specialist</h5>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 3">
    <div class="card-body">
      <h5 class="card-title">Child Specialist</h5>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 3">
    <div class="card-body">
      <h5 class="card-title">Child Specialist</h5>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 3">
    <div class="card-body">
      <h5 class="card-title">Child Specialist</h5>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <img src="assets/images/homecovernewen2-ng-en.jpg" class="card-img-top" alt="Doctor Image 3">
    <div class="card-body">
      <h5 class="card-title">Child Specialist</h5>
    </div>
  </div>
</div>