<div class="bg-white rounded ">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 p-4">
    <div class="col-span-1">
      <button mat-button [matMenuTriggerFor]="specialtyMenu" [ngClass]="{'highlight-menu': isSpecialtyMenuOpen}">
        <mat-icon>{{ isSpecialtyMenuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
        Select a specialty
      </button>
      <div class="flex items-center p-2">
        <mat-icon class="dropdown-menu-icon">local_hospital</mat-icon>
        <span class="dropdown-menu-selected-option text-primary truncate">{{ selectedSpecialty }}</span>
      </div>
      <mat-menu #specialtyMenu="matMenu">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <button mat-menu-item (click)="selectSpecialty(specialty)" class="text-primary"
            *ngFor="let specialty of specialties">
            {{ specialty }}
          </button>
        </div>
      </mat-menu>
    </div>

    <div class="col-span-1">
      <button mat-button [matMenuTriggerFor]="countyMenu" [ngClass]="{'highlight-menu': isCountyMenuOpen}">
        <mat-icon>{{ isCountyMenuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
        In this county
      </button>
      <div class="flex items-center p-2">
        <mat-icon class="dropdown-menu-icon">location_city</mat-icon>
        <span class="dropdown-menu-selected-option text-primary truncate">{{ selectedCounty }}</span>
      </div>
      <mat-menu #countyMenu="matMenu">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <button mat-menu-item (click)="selectCounty(county)" *ngFor="let county of counties">
            {{ county }}
          </button>
        </div>
      </mat-menu>
    </div>

    <div class="col-span-1">
      <button mat-button [matMenuTriggerFor]="cityMenu" [ngClass]="{'highlight-menu': isCityMenuOpen}">
        <mat-icon>{{ isCityMenuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
        In this city
      </button>
      <div class="flex items-center p-2">
        <mat-icon class="dropdown-menu-icon">location_on</mat-icon>
        <span class="dropdown-menu-selected-option text-primary truncate">{{ selectedCity }}</span>
      </div>
      <mat-menu #cityMenu="matMenu">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <button mat-menu-item (click)="selectCity(city)" *ngFor="let city of coCities">
            {{ city }}
          </button>
        </div>
      </mat-menu>
    </div>

    <div class="col-span-1">
      <button mat-button [matMenuTriggerFor]="insuranceMenu" [ngClass]="{'highlight-menu': isInsuranceMenuOpen}">
        <mat-icon>{{ isInsuranceMenuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
        My insurance
      </button>
      <div class="flex items-center p-2">
        <mat-icon class="dropdown-menu-icon">local_hospital</mat-icon>
        <span class="dropdown-menu-selected-option text-primary truncate">{{ selectedInsurance }}</span>
      </div>
      <mat-menu #insuranceMenu="matMenu">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <button mat-menu-item (click)="selectInsurance(insurance)" *ngFor="let insurance of insurances">
            {{ insurance }}
          </button>
        </div>
      </mat-menu>
    </div>

    <div class="col-span-2 md:col-span-2">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <mat-form-field appearance="fill" class="pt-1">
          <mat-label>Or search by name</mat-label>
          <input matInput placeholder="Name">
        </mat-form-field>
        <button mat-icon-button (click)="search()"
          class="text-white rounded-full bg-red-500 md:ml-4 flex items-center justify-center">
          <mat-icon>search</mat-icon>
          <span class="ml-2">Search</span>
        </button>
      </div>
    </div>
  </div>
</div>