<nav class="bg-gray-900">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-3">
      <a class="flex items-center" routerLink="/home">
        <img class="h-10" src="assets/images/VezeetaLogo.jpg" alt="Vezeeta Logo">
      </a>

      <button type="button" class="text-white lg:hidden">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

      <div class="hidden lg:flex lg:flex-row" id="navbarNav">
        <ul class="flex flex-col lg:flex-row lg:space-x-4">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/doctors/get-started">Vezeeta for Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Location</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>