/* HERO */
.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay-container {
  position: relative;
  z-index: 1;
  min-width: 100%;
}

.overlay-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Adjust the tint color and opacity as needed */
  z-index: -1;
}
/* cards */
.card-scroll-wrapper {
  overflow-x: auto;
  margin-bottom: 20px;
}

.card-scroll {
  display: flex;
}

.card {
  flex: 0 0 auto;
  margin-right: 10px;
  max-width: 25%;
}

@media (min-width: 768px) {
  .card {
    max-width: 33.33%;
  }
}
