.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  width: 25%; /* Adjust the width of the sidebar as needed */
  z-index: 1;
}
.main-content {
  position: relative;
  margin-left: 25% !important; /* The width of the sidebar */
  /* padding: 20px;  */
}

.content-wrapper {
  padding: 20px;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    z-index: initial;
  }
  .main-content {
    margin-left: 0 !important;
  }

  .content-wrapper {
    padding-top: 60px; /* Adjust the padding as needed */
  }
}
