<nav class="bg-white border-b">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center py-3">
      <a class="text-lg font-bold" href="#">Doctor Navbar</a>

      <button type="button" class="text-gray-600 focus:outline-none lg:hidden">
        <span class="text-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </span>
      </button>

      <div class="hidden lg:flex lg:flex-row" id="navbarNav">
        <ul class="flex flex-row space-x-4">
          <li>
            <a class="text-gray-900 hover:text-blue-500" routerLinkActive="active" routerLink="/doctor/home">Home</a>
          </li>
          <li>
            <a class="text-gray-900 hover:text-blue-500" href="#">Dashboard</a>
          </li>

          <li>
            <a class="text-gray-900 hover:text-blue-500" href="#">Appointments</a>
          </li>
          <li class="relative">
            <a class="text-gray-900 hover:text-blue-500" href="#">
              <i class="fas fa-user"></i> User Profile
            </a>
            <div class="absolute right-0 mt-2 py-2 w-48 bg-white border shadow-lg rounded-lg hidden">
              <!-- <ng-container *ngIf="isAuthenticated; else authButtons"> -->
              <!-- User Profile Details and Settings -->
              <a class="block px-4 py-2 text-gray-900 hover:bg-blue-200" href="#">Profile</a>
              <a class="block px-4 py-2 text-gray-900 hover:bg-blue-200" href="#">Settings</a>
              <div class="border-b my-2"></div>
              <a class="block px-4 py-2 text-gray-900 hover:bg-blue-200" href="#">Logout</a>
              <!-- </ng-container> -->
              <!-- <ng-template #authButtons> -->
              <!-- Non-Authenticated User Links -->
              <a class="block px-4 py-2 text-gray-900 hover:bg-blue-200" routerLink="/doctor/signup">Signup</a>
              <a class="block px-4 py-2 text-gray-900 hover:bg-blue-200" routerLink="/doctor/login">Login</a>
              <!-- </ng-template> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>