<footer class="py-5 bg-light">
  <div class="container mx-auto px-4 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-6">
      <div>
        <h5 class="text-lg font-bold mb-4">Vezeeta</h5>
        <ul class="list-none">
          <li class="mb-2"><a href="#">About us</a></li>
          <li class="mb-2"><a href="#">Our teams</a></li>
          <li class="mb-2"><a href="#">Careers</a></li>
          <li class="mb-2"><a href="#">Press</a></li>
        </ul>
      </div>
      <div>
        <h5 class="text-lg font-bold mb-4">Search by</h5>
        <ul class="list-none">
          <li class="mb-2">Speciality</li>
          <li class="mb-2">City</li>
          <li class="mb-2">Insurance</li>
          <li class="mb-2">Hospital</li>
          <li class="mb-2">Center</li>
        </ul>
      </div>
      <div>
        <h5 class="text-lg font-bold mb-4">Are you a doctor?</h5>
        <ul class="list-none">
          <li class="mb-2">Join Vezeeta Doctors</li>
        </ul>
      </div>
      <div>
        <h5 class="text-lg font-bold mb-4">Need Help?</h5>
        <ul class="list-none">
          <li class="mb-2"><a routerLink="/contact">Contact us</a></li>
          <li class="mb-2">Terms of Use</li>
          <li class="mb-2">Privacy Policy</li>
          <li class="mb-2">Doctors Privacy Policy</li>
        </ul>
      </div>
      <div>
        <div class="flex flex-col">
          <h5 class="text-lg font-bold mb-4">Get the app</h5>
          <div class="flex mb-3">
            <a href="#" class="btn btn-outline-primary mr-2">
              <i class="fab fa-google-play text-green-500"></i> Get it on Google Play
            </a>
            <a href="#" class="btn btn-outline-primary">
              <i class="fab fa-app-store text-blue-500"></i> Get it on App Store
            </a>
          </div>
          <div class="flex">
            <a href="#" class="mr-2 text-gray-500 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="text-gray-500 hover:text-blue-500">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>